// Colours
$grey: #333333;
$white: #FFFFFF;
$blue: rgba(0, 132, 180, 0.4);

// Navigation
$nav-background-color: $grey;
$nav-color: $white;

// Clock
$clock-text-color: $white;
$clock-background-color: $blue;
$clock-size: 14rem;
